*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: white;
    padding: 3rem;
    background-color: rgba(47, 44, 216);
    font-size: 2.4rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    margin-bottom: 4rem;
}

.navbar__links {
    float: right;
}

.navbar__links li {
    float: left;
    display: inline-block;
    margin-left: 2rem;
}

.navbar__links a {
    color: white;
}

.navbar__logo {
    display: inline-block;
    font-size: 3.2rem;
}

.exchange-form {
    font-size: 2rem;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem;
}

.exchange-form h3 {
    font-size: 3.2rem;
}

.exchange-form button {
    font-size: 2rem;
}

.exchange-form-container {
    display: flex;
    flex-direction: column;
}

.form-control {
    font-size: 1.5rem;
}

legend {
    font-size: 2rem;
}

@media (max-width: 830px) {
    .navbar__links {
        display: none;
    }
}
