*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: white;

    background-image: linear-gradient(
            to right bottom,
            rgba(47, 44, 216, 0.9),
            rgba(36, 34, 158, 0.9)
        ),
        url(images/bg_icons.jpg);
    background-size: cover;
    background-position: top;
    font-size: 2.4rem;
}

main {
    padding: 3rem;
    padding-bottom: 8rem;
}

button {
    width: 100%;
    height: 5rem;
}

.btn-primary {
    background-color: rgb(47, 44, 216);
    border: none;
    border-bottom: 5px solid rgb(29, 27, 141);
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: rgb(54, 51, 247);
    border-bottom: 5px solid rgb(44, 42, 214);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#hero_logo {
    height: 4rem;
}

#mobile_logo {
    height: 8rem;
    display: none;
}

.navbar {
    padding: 3rem;
    margin-bottom: 4rem;
}

.navbar__links {
    float: right;
}

.navbar__links li {
    float: left;
    margin-left: 2rem;
}

.navbar__links a {
    color: white;
}

.navbar__logo {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 600;
}

.exchange-form {
    font-size: 2rem;
    color: rgb(85, 85, 85);
    background-color: #eee;
    border-radius: 5px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem;
}

.exchange-form h3 {
    font-size: 3.2rem;
    font-weight: bold;
}

.exchange-form button {
    font-size: 2rem;
}

.exchange-form-container {
    display: flex;
    flex-direction: column;
}

.form-control {
    border-radius: 5px;
    font-size: 1.6rem;
    height: 5rem;
}

.tolov-turi {
    margin-right: 1.5rem;
}

.total-amount {
    color: rgb(47, 44, 216);
    font-weight: 700;
}

.total {
    padding: 2rem 0;
    text-align: right;
}

.footer {
    background: rgb(29, 27, 141);
    text-align: center;
    height: 6rem;
    padding: 1.8rem;
}

.footer p {
    margin: auto;
    font-size: 1.6rem;
}

@media (max-width: 680px) {
    .navbar {
        margin-bottom: 0;
        padding: 3rem 1.5rem;
    }

    .navbar__links {
        display: none;
    }

    main {
        padding: 1.5rem;
    }

    .exchange-form {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    #hero_logo {
        display: none;
    }

    #mobile_logo {
        display: inline-block;
    }
}
